<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40268923753-1c949fhemekduomgpmcmmq9h9j3ste2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40268923753-1c949fhemekduomgpmcmmq9h9j3ste2v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40268923753-8ik5o5nqlbm6k66ee4194r073e5k7ma3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBk55kyxwaYXQiYpUI0IFo7iTc4zowsHc8</string>
	<key>GCM_SENDER_ID</key>
	<string>40268923753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subratadev.wallpaper</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-a81bc</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-a81bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40268923753:ios:652a8dc8043371946633f8</string>
</dict>
</plist>